.cart-container {
  border: 90px solid white;
  background-color: white;
} 
.cart-item {
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-between;
  background-color: #ffffff;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10%;
}

.cart-item-details {
  display: flex;
  flex:100%;
  align-items: right;
  flex-direction: column;
  color: #000000;
  margin-bottom: 0rem; 
  max-width: 65%;
}
  
.cart-item-image {
    flex: 2;
    align-items: center;
    justify-content: center;
    object-fit:cover;
    height: 200px;
    display: flex;
    max-width: 35%;
    overflow: hidden;

  }

  .cart-item-image img {
    max-width: 100%;
    height: auto;
    object-fit:cover;

  }
  
.cart-item-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: -1rem;
}
  
.cart-item-category {
  font-size: 1.2rem;
  margin-bottom: -2rem;
}
  
.cart-item-location {
  font-size: 1rem;
  margin-bottom: -1rem;
}
  
.cart-item-dates {
  font-size: 1rem;
  margin-bottom: -1rem;
}
  
.cart-item-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: -1rem;
}

.cart-item-button{
  display: flex;
  background-color: #fe1749;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  width: 30%;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto;
  margin-left: 65%;
}


@media screen and (min-width: 640px) and (max-width: 1280px) {

  .cart-item {
    width: 100%;
    flex-direction: column;
    height: auto;
    max-width: 100%;
  }

  .cart-item-details {
    width: 100%;
    border: 0px solid black;
    margin-bottom: 1rem;
    padding: 1rem;
    max-width: 100%;
    flex-direction: column;
  }
  .cart-item-image {
    flex: 1;
    object-fit:contain ;
    width: 100%;
    flex-direction: column;
    flex:2;
    align-items: center;
    justify-content: center;
    object-fit:cover;
    height: 200px;
    display: flex;
    max-width: 100%;

  }

  .cart-item-image img {
      max-height: 500px;
      max-width: 100%;
      }
    
  }

  .cart-item-price {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

.cart-item-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.cart-item-category {
  font-size: 1.2rem;
  margin-bottom: 0rem;
}
  
.cart-item-location {
  font-size: 0.9rem;
  margin-bottom: 0rem;
}
  
.cart-item-dates {
  font-size: 0.9rem;
  margin-bottom: 0rem;
}
.cart-item-button {
  margin-left: 22rem;
  margin-top: -4rem;
  font-weight: bold;
  padding: 0.2rem 0.8rem;
  width: 25%;
}

@media screen and (max-width: 639px) {
  .cart-item {
    width: 100%;
    flex-direction: column;
    height: auto;

  }

  .cart-item-details {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    border: 0px solid black;
    padding:5rem;
    align-items: center;

  }
  
  .cart-item-image {
    max-height: 200px;
    max-width: 100%;
    }
  
  .cart-item-button {
    margin-left: 1rem;
    margin-top: 2rem;
    font-weight: bold;
    padding: 0.1rem 0rem;
    border: none;
    width: 100%;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: -1rem;
 
  }
  
  .cart-item-price {
    margin-bottom: 1rem;
    font-size: 0.7rem;
  }

  .cart-item-title {
    font-size: 0.9rem;
    font-weight: bold;
  
  }

  .cart-item-category {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
    
  .cart-item-location {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
    
  .cart-item-dates {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
}



