    button{
        cursor: pointer;
    }
    .header-a_btn-logotype img{
        width: 120px;
        cursor: pointer;
    }
    .header-a_btn-logo img{
       display: none;
       cursor: pointer;
    }
    .header-b{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;
        cursor: pointer
    }
    .btn-img button {
        display: flex;
        text-decoration: white;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
    }

    .search-container {
        background-color: white;
        width: 700px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px;
        border-radius: 10px;
    }

    .search-container label{
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-container div{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-container form{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     }

    #name {
    width: 600px;
    height: 32px;
    display: flex;
    border-radius: 10px;
    }

    .search-container input {
     width: 200px;
     height: 32px;
     display: flex;
     border-radius: 10px;
     border: 1px solid black;
     }
  
 @media screen and (min-width: 640px) and (max-width: 1280px) {
    .header-b{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px
    }
    .btn-img button {
        display: flex;
        text-decoration: white;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
  }



  @media screen and (max-width: 640px) {
    .header-a_btn-logotype img{
        display: none;
    }
    .header-a_btn-logo img{
        width: 120px;
    }

    .header-b{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 10px
    }
    .byn-img {
        align-items: center;
    }
    .btn-img button {
        display: flex;
        text-decoration: white;
        justify-content: center;
        align-items: center;  
    }
    .header-a_btn h4{
       font-size: 10px;
    }
  } 