.map-events-container {
  display: flex;
  justify-content: center;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.event {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.event-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff; 
}

.event-category {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.event-location {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.event-date {
  font-size: 1rem;
  margin-top: auto;
  margin-bottom: 0.5rem;
  color: #fff;
}

.event-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff;
}

.event-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.subscribe-button {
  background-color: #fe1749;;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
.subscribe-button:hover{
  opacity: 0.5;
}

.info-button {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  
}
.info-button:hover{
  opacity: 0.5;
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
  .events-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 640px) {
  .events-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}