a {
  text-decoration: none;
}
.infoEvent{
  display: flex;
  flex-direction: row;
  margin: 0;
}

.cardEvent {
  width: 700px;
  height: auto;
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cardEvent__img {
  width: 100%;
  max-width: 700px;


}
.cardEvent__title {
  margin: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.cardEvent__map{
  width: 700px;
  height: 350px;
  position: relative;
}
.cardEvent__infogral {
  position: relative;
  bottom: 300px;
  left: 40px;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cardEvent__infogral-item {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.button {
  width: 200px;
  height: 40px;
  margin-bottom: 0;
  background-color:#fe1749;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;

}
.button:hover {
  background-color:#fe1749;
}

.icon {
  width: 15%;
  height: 100%;
  filter: invert(1);
  display: flex;
  justify-content: center;
}

.info{
  margin-left: 13px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}
.showDiv{
  width: 200px;
  background-color: white;
  margin: 5px;
  margin-top: 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cardEvent__price,
.cardEvent__link,
.cardEvent__dates {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cardEvent__info {
  font-weight: 400;
  letter-spacing: 0;
  padding-bottom: 1rem;
  font-size: 18px;
  line-height: 28px;
  margin: 15px;
  word-wrap: break-word;
  overflow: hidden;
  transition: height 0.5s ease;
  height: 7.2em; 
  padding-bottom: unset;
  
}

.cardEvent__info.mostrar {
  height: auto;
}

.cardEvent__info.mostrar-menos {
  height: 7.2em; 
}
.button-mostrar {
  position: relative;
  width: auto;
  color: black;
  cursor: pointer;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.button-mostrar:before{
  content: "";
  height: 2px;
  width: 20%;
  background: #979797;
  position: absolute;
  right: 0px;
  left: 420px;
  bottom: 50%;
}
.button-mostrar:after{
  content: "";
  height: 2px;
  width: 20%;
  background: #979797;
  position: absolute;
  left: 130px;
  bottom: 50%;
}



@media screen and (max-width: 740px) {
  .infoEvent {
    display: unset;
    margin: 0;
    max-width: 400px;
  }
  .cardEvent {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    margin-bottom: 10px;
  }

  .cardEvent__img {
    width: 100%;
    height: auto;

  }

.cardEvent__title{
    margin: 15px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
 
  .cardEvent__map{
    max-width: 400px;
    height: 400px;
    min-height: 0;
    display: flex;
    flex-direction: column;

  }
  .cardEvent__infogral {
    width: 100%; 
    height: auto;
    overflow: hidden;
    position: unset;
    display: flex;
    justify-content: center;
  }
  .button{
    margin-top: 5px;

    }


  .cardEvent__info {
    font-weight: 300;
    letter-spacing: 0;
    padding-bottom: 1rem;
    font-size: 15px;
    line-height: 25px;
    margin: 15px;
    word-wrap: break-word;
    overflow: hidden;
    transition: height 0.5s ease;
    height: 4.2em; 
    padding-bottom: unset;
  }
  .cardEvent__info.mostrar-menos {
    display: block;
  }
  .button-mostrar:before {
    content: unset;
  }
  .button-mostrar:after {
    content: unset;
  }
 }

@media screen and (min-width: 740px) and (max-width: 1280px) {
  .infoEvent {
    display: unset;
    margin: 0;
  }
  .cardEvent {
    max-width: 700px;
    margin-right: 0;
    margin-bottom: 10px;

  }
  .cardEvent__info.mostrar-menos {
    display: block;
  }

}