
input, select{
    height: 50px;
    margin-bottom: 5px;
}
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 200px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        padding: 50px 30px;
        background-color: #ffffff;
    }
    .title{
        font-size: 150%;
        color:#000000;
        text-align: center;
        margin-bottom: 20px;
    }
    .logindiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logindiv form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    .logindiv input{
        font-family: 'Overpass', sans-serif;
        font-size: 100%;
        color: #1b262c;
        display: block;
        width: 550px;
        height: 30px;
        width: 600px;
        height: 40px;
        margin-bottom: 10px;
        padding: 5px 5px 5px 10px;
    }
    .logindiv button {
        font-family: 'Overpass', sans-serif;
        font-size: 100%;
        color:#ffffff;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px; 
        background-color: #000000;   
        margin-top: 10px;
        cursor: pointer;
    } 

    .username-section {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .username-section input {
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-left: 4px;
        
    }

    .form-text_username {
        width: 49%;
    }


    .logindiv span {
        color: red;
        /* margin: 20px; */
    }

    .logindiv button:hover{
        background-color: black;
        
    }
    .foot{
        font-size: 90%;
        text-align: center;    
        margin-top: 15px;
    }
    .form-text{
        color: rgb(0, 0, 0);
    }
    .profile-container {
        background-color: white;
        width: 500px;
        height: 600px;
        margin: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        border-radius: 20px;
    }
    .profile-container h1 {
        margin: 40px 0 20px 0;
    }
    .iconProfile {
        height: 150px;
    } 

    .profile-container button {
        cursor: pointer;
    }
    .home-container{
        display: flex;
        flex-direction: row;
  
    }
/*   style footer */
    .footer {
        text-align: center;
        position: fixed;
        bottom: 0px;
        background-color: white;
        width: 100%;
        height: 70px;
    }

    .footer p {
    font-size: 0.6em;
  }
  
 /*  styles para los icons */
  .social-media-links {
    display: flex;
    justify-content: center;
    margin: -0.5rem;
  }
  
  .social-media-links a {
    font-size: 6px;
  }

   /*  styles news */
   .news-container {
    max-width: 100%;
    padding: 0 20px;
  }
  
  .materias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .materia {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40
  }
  

  @media screen and (min-width: 640px) and (max-width: 1280px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 200px;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 530px;
        padding: 50px 30px;
        background-color: #ffffff;
    }
    .title{
        font-size: 150%;
        color:#000000;
        text-align: center;
        margin-bottom: 20px;
    }
    .logindiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    .logindiv input{
        font-family: 'Overpass', sans-serif;
        font-size: 100%;
        color: #1b262c;
        display: block;
        width: 550px;
        height: 30px;
        margin-bottom: 10px;
        padding: 5px 5px 5px 10px;
    }
    .logindiv button {
        font-family: 'Overpass', sans-serif;
        font-size: 100%;
        color:#ffffff;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px; 
        background-color: #000000;   
        margin-top: 10px;
    } 

    .username-section {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .username-section input {
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-left: 4px;
        
    }

    .form-text_username {
        width: 49%;
    }


    .logindiv span {
        color: red;
        /* margin: 20px; */
    }


    .logindiv button:hover{
        background-color: black;
        
    }
    .foot{
        font-size: 90%;
        text-align: center;    
        margin-top: 15px;
    }
    .form-text{
        color: rgb(0, 0, 0);
    }
    .profile-container {
        background-color: white;
        margin: 150px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    .profile-container h1 {
        margin: 40px
    }
    .profile-container img {
        margin: 40px;
        height: 150px;
    }

    .home-container{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

  }

  @media screen and (max-width: 640px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 200px;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        padding: 50px 30px;
        background-color: #ffffff;
    }
    .title{
        font-size: 100%;
        color:#000000;
        text-align: center;
        margin-bottom: 5px;
    }
    .logindiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    .logindiv input{
        font-family: 'Overpass', sans-serif;
        font-size: 80%;
        color: #1b262c;
        display: block;
        width: 250px;
        height: 30px;
        margin-bottom: 5px;
        padding: 5px 5px 5px 10px;
    }
    .logindiv button {
        font-family: 'Overpass', sans-serif;
        font-size: 100%;
        color:#ffffff;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px; 
        background-color: #000000;   
        margin-top: 10px;
    } 

    .username-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;

    }

    .username-section input {
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-left: 4px;
        
    }

    .form-text_username {
        width: 100%;
    }


    .logindiv span {
        color: red;
        /* margin: 20px; */
    }


    .logindiv label {
        color: #000000;
    } 
    .logindiv button:hover{
        background-color: black;
    }
    .foot{
        font-size: 90%;
        text-align: center;    
        margin-top: 15px;
    }
    .profile-container {
        background-color: white;
        margin: 150px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    .profile-container h1 {
        margin: 40px
    }
    .profile-container img {
        margin: 40px;
        height: 150px;
    }
    .home-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }